{% load static %}
{% load icon %}
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OurBook - Página Inicial</title>
		<link rel="icon" href="../img/logo-thin.png" />
		<link rel="stylesheet" href="../../static/css/adm/style.css" />
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<menu id="sidebar" class="d-flex flex-column bg-white">
			<div class="d-flex flex-column align-items-center mt-5 mb-4">
				<a href="/">
					<img id="sidebar-logo" src="{% static '/images/Logo-transparente.png' %}" />
				</a>

				<div class="dropdown mt-4">
					<button
						class="btn button-account d-flex align-items-center justify-content-center"
						type="button"
						id="dropdownMenuButton"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Biblioteca
						{% icon 'chevron-down' class='chevron-icon collapse-chevron' %}
					</button>
					<ul
						id="dropdown-menu-logout"
						class="dropdown-menu"
						aria-labelledby="dropdownMenuButton"
					>
						<a class="dropdown-item" href="{% url 'logout' %}">
							{% icon 'log-out' class='account-icon' %}
							Sair da conta
						</a>
					</ul>
				</div>
			</div>

			<ul class="list-unstyled">
				<li class="border-top border-secondary-subtle pb-1">
					<button
						class="sidebar-collapse-button w-100 d-flex align-items-center justify-content-between bg-white pt-3 pb-2 ps-4 pe-5 border-0 collapsed"
						data-bs-toggle="collapse"
						data-bs-target="#exemplar-collapse"
						aria-expanded="false"
					>
						<div
							class="sidebar-collapse-text d-flex align-items-center gap-2"
						>
							{% icon 'book' class='sidebar-icon' %}
							Exemplar
						</div>
						{% icon 'chevron-down' class='chevron-icon collapse-chevron' %}
					</button>
					<div id="exemplar-collapse" class="ms-4 collapse">
						<ul
							class="list-unstyled ps-4 border-start border-2 border-dark"
						>
							<li>
								<a
									href="/"
									class="collapsed-item-text text-reset text-decoration-none"
								>
									Cadastrar exemplar
								</a>
							</li>
							<li>
								<a
									href="/"
									class="collapsed-item-text text-reset text-decoration-none"
								>
									Cadastrar autor
								</a>
							</li>
							<li class="mb-4">
								<a
									href="/"
									class="collapsed-item-text text-reset text-decoration-none"
								>
									Cadastrar editora
								</a>
							</li>
						</ul>
					</div>
				</li>

				<li class="border-top border-secondary-subtle pt-3 pb-1">
					<button
						class="sidebar-collapse-button w-100 d-flex align-items-center justify-content-between bg-white pb-2 ps-4 pe-5 border-0 collapsed"
						data-bs-toggle="collapse"
						data-bs-target="#leitor-collapse"
						aria-expanded="false"
					>
						<div
							class="sidebar-collapse-text d-flex align-items-center gap-2"
						>
							{% icon 'user' class='sidebar-icon' %}
							Leitor
						</div>
						{% icon 'chevron-down' class='chevron-icon collapse-chevron' %}
					</button>
					<div id="leitor-collapse" class="ms-4 collapse">
						<ul
							class="list-unstyled ps-4 border-start border-2 border-dark"
						>
							<li>
								<a
									href="/"
									class="collapsed-item-text text-reset text-decoration-none"
								>
									Registrar empréstimo
								</a>
							</li>
							<li class="mb-4">
								<a
									href="/"
									class="collapsed-item-text text-reset text-decoration-none"
								>
									Registrar devolução
								</a>
							</li>
						</ul>
					</div>
				</li>

				<li
					class="border-top border-bottom border-secondary-subtle pb-1"
				>
					<button
						class="sidebar-collapse-button w-100 d-flex align-items-center justify-content-between bg-white pt-3 pb-2 ps-4 pe-5 border-0 collapsed"
					>
						<div
							class="sidebar-collapse-text d-flex align-items-center gap-2"
						>
							{% icon 'refresh-ccw' class='sidebar-icon' %}
							Empréstimo
						</div>
						{% icon 'chevron-down' class='chevron-icon collapse-chevron' %}
					</button>
				</li>
			</ul>

			<div class="mt-auto ms-4">
				<ul class="list-unstyled">
					<li>
						<a href="/" class="terms-links text-reset">
							Política de privacidade
						</a>
					</li>
					<li>
						<a href="/" class="terms-links text-reset">
							Política de Cookies
						</a>
					</li>
					<li>
						<a href="/" class="terms-links text-reset">
							Termos e Condições
						</a>
					</li>
					<li>
						<a href="/" class="terms-links text-reset">Suporte</a>
					</li>
				</ul>
				<ul class="list-unstyled">
					<li class="rights-text">© 2024 Ourbook.</li>
					<li class="rights-text">Todos direitos reservados</li>
				</ul>
			</div>
		</menu>
		<main>
			<nav id="menu-superior" class="navbar navbar-expand bg-white px-4">
				<div class="container-fluid">
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mb-0 me-auto">
							<li
								class="nav-item {% if 'home' in request.path %}border-bottom border-3 border-primary{% else %}text-dark{% endif %} menu-superior-item px-3"
							>
								<a
									class="nav-link {% if 'home' in request.path %}active{% else %}text-dark{% endif %} p-1 text-center"
									aria-current="page"
									href="{% url 'home' %}"
								>
									Início
								</a>
							</li>
							<li class="nav-item menu-superior-item px-3">
								<a
									class="nav-link text-dark p-1 text-center"
									href="#"
								>
									Registrar Empréstimo
								</a>
							</li>
							<li class="nav-item menu-superior-item px-3">
								<a
									class="nav-link text-dark p-1 text-center"
									href="#"
								>
									Registrar Devolução
								</a>
							</li>
						</ul>
						<form class="d-flex" role="search" action="{% url 'search_user_loans' %}" method="POST">
							{% csrf_token %}
							<div
								class="input-group border border-secondary rounded-pill"
								id="search-bar"
							>
								<select
									class="form-select rounded-pill border-0 rounded-end shadow-none bg-body-secondary"
									aria-label="Default select example"
									id="search-filter-select"
								>
									<option class="bg-white" selected>
										Empréstimos
									</option>
									<option class="bg-white" value="1">
										Exemplares
									</option>
									<option class="bg-white" value="2">
										Autores
									</option>
									<option class="bg-white" value="3">
										Leitores
									</option>
								</select>
								<input
									aria-label="Pesquisar"
									class="form-control border-top-0 border-end-0 border-bottom-0 border-secondary shadow-none"
									placeholder="Pesquisar..."
									type="search"
									id="search-input"
									name="search-input"
									oninput="mascaraCPF(this)"
									maxlength="14"
								/>
								<button
									class="btn rounded-circle"
									type="submit"
								>
									{% icon 'search' class='sidebar-icon' %}
								</button>
							</div>
						</form>
					</div>
				</div>
			</nav>
			<section class="conteudo">
				<section class="tabela">
					<table class="table table-striped table-borderless">
						<h1 class="tabela-nome">Empréstimos Recentes</h1>
						<thead>
							<tr class="tabela-cabeçalho">
								<th
									scope="col"
									class="tabela-titulo tabela-codigo"
									style="padding-left: 1.5rem"
								>
									Código
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-leitor"
								>
									Leitor(a)
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-exemplar"
								>
									Exemplar
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-autor"
								>
									Autor(a)
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-emprestimo"
								>
									Empréstimo
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-validade"
								>
									Validade
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-editar"
								></th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for loan in past_loans %}
							<tr>
								<td
									class="tabela-texto"
									style="padding-left: 1.5rem"
								>
									{{ loan.id }}
								</td>
								<td class="tabela-texto">
									{{ loan.borrower }}
								</td>
								<td class="tabela-texto">
									{{ loan.book_copy.book.name }}
								</td>
								<td class="tabela-texto">{{ loan.book_copy.book.author }}</td>
								<td class="tabela-texto">{{ loan.borrowed_date|date:"d/m/Y" }}</td>
								<td class="tabela-texto">{{ loan.expected_return_date|date:"d/m/Y" }}</td>
								<td>
									<a href="">
										{% icon 'edit' class='edit-icon' %}
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if past_loans.count == 0 %}
					<p class="text-center" style="color: #00000073;">Não há empréstimos recentes.</p>
					{% endif %}
				</section>

				<section class="tabela mt-5">
					<table class="table table-striped table-borderless">
						<h1 class="tabela-nome">Devoluções Recentes</h1>
						<thead>
							<tr class="tabela-cabeçalho">
								<th
									scope="col"
									class="tabela-titulo tabela-codigo"
									style="padding-left: 1.5rem"
								>
									Código
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-leitor"
								>
									Leitor(a)
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-exemplar"
								>
									Exemplar
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-autor"
								>
									Autor(a)
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-emprestimo"
								>
									Empréstimo
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-validade"
								>
									Devolução
								</th>
								<th
									scope="col"
									class="tabela-titulo tabela-editar"
								></th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for loan in loans %}
							<tr>
								<td
									class="tabela-texto"
									style="padding-left: 1.5rem"
								>
									{{ loan.id }}
								</td>
								<td class="tabela-texto">
									{{ loan.borrower }}
								</td>
								<td class="tabela-texto">
									{{ loan.book_copy.book.name }}
								</td>
								<td class="tabela-texto">{{ loan.book_copy.book.author }}</td>
								<td class="tabela-texto">{{ loan.borrowed_date|date:"d-m-Y" }}</td>
								<td class="tabela-texto">{{ loan.return_date|date:"d-m-Y" }}</td>
								<td>
									<a href="">
										<ion-icon
											name="create-outline"
											class="edit-icon"
										></ion-icon>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if loans.count == 0 %}
					<p class="text-center" style="color: #00000073;">Não há devoluções recentes.</p>
					{% endif %}
				</section>
			</section>
		</main>
        <script>
            const sidebarCollapsible = document.querySelectorAll("li > .collapse");

            sidebarCollapsible.forEach((collapsible) => {
                const liParent = collapsible.parentElement;
                const collapseBtn = liParent.querySelector(".sidebar-collapse-button");
                const collapseChevron = collapseBtn.querySelector(".collapse-chevron");

                collapsible.addEventListener(
                    "show.bs.collapse",
                    () => {
                        liParent.classList.remove("bg-white");
                        liParent.classList.add("bg-collapsed-show");

                        collapseBtn.classList.remove("bg-white");
                        collapseBtn.classList.add("bg-collapsed-show");

                        collapseChevron.classList.add("rotate-180");
                    },
                    false
                );

                collapsible.addEventListener(
                    "hide.bs.collapse",
                    () => {
                        liParent.classList.remove("bg-collapsed-show");
                        liParent.classList.add("bg-white");

                        collapseBtn.classList.remove("bg-collapsed-show");
                        collapseBtn.classList.add("bg-white");

                        collapseChevron.classList.remove("rotate-180");
                    },
                    false
                );
            });
			function mascaraCPF(cpf) {
				cpf.value = cpf.value
					.replace(/\D/g, '') 
					.replace(/(\d{3})(\d)/, '$1.$2')
					.replace(/(\d{3})(\d)/, '$1.$2')
					.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
			}
        </script>
	</body>
</html>