{% extends "base/index.html" %} 
{% load static %} 

{% block title %} {{ book.name }} {% endblock %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/book/style.css' %}" />
{% endblock %}
{% block content %}

{% include 'components/navbar.html' %}

<main>
    <section class="container-exemplar">
        <div class="container">
            <div class="conteudo-exemplar">
                <div class="container-img">
                  <img src="{{ book.cover.url }}" class="exemplar-img" />
                </div>
                <div class="exemplar-atributos">
                  <div class="container-info">
                    <h1 class="titulo-exemplar">{{ book.name }}</h1>
          
                    <table class="table table-borderless tabela-info">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td class="span-exemplar">Autor</td>
                          <td class="texto-exemplar">{{ book.author }}</td>
                        </tr>
          
                        <tr>
                          <td class="span-exemplar">Editora</td>
                          <td class="texto-exemplar">Biblioteca</td>
                        </tr>
          
                        <tr>
                          <td class="span-exemplar">Edição</td>
                          <td class="texto-exemplar">5º</td>
                        </tr>
          
                        <tr>
                          <td class="span-exemplar">Ano</td>
                          <td class="texto-exemplar">2018</td>
                        </tr>
          
                        <tr>
                          <td class="span-exemplar">Páginas</td>
                          <td class="texto-exemplar">240</td>
                        </tr>
                      </tbody>
                    </table>
          
                    <h1 class="exemplar-disponibilidade">4 exemplares disponíveis</h1>
                  </div>
          
                  <div>
                    <button class="botao-adicionar-lista">
                      <ion-icon name="star-outline" class="star-icon"></ion-icon>
                      Adicionar à lista
                    </button>
                  </div>
                </div>
                <div class="container-compartilhar">
                  <button class="share-icon">
                    <ion-icon name="share-social" class="share-icon"></ion-icon>
                  </button>
                </div>
            </div>
          
              <div>
                <div>
                  <h1 class="descricao-titulo">Descrição</h1>
                  <p class="descricao-texto"></p>
                </div>
          
                <div>
                  <h1 class="descricao-titulo">Categoria</h1>
                  <p class="descricao-texto">{{ book.category }}</p>
                </div>
              </div>
        </div>
    </section>
  
    <section class="conteudo-similares">
        <div class="container">
            <h1 class="similares-texto">Veja mais livros da mesma categoria</h1>
  
            <div class="container-exemplares">
                {% for book in same_category_books %}
                    {% include 'components/linux.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>
    
{% endblock %}
