* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.18);
  box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.18);
} 

.header-logo{
  display: flex;
  width: 22%;
}

.header-logo--img{
  width: 100px;
  height: 75px;
}

nav{
  display: flex;
  width: 75%;
  background-color: #fff;
 
}

.header-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 2rem;
}

ul{
  display: flex;
  width: 100%;
}

li{
  list-style: none;
  padding-left: 1rem;
}

.nav-item-active{
  text-decoration: none;
  pointer-events: none;
  font-weight: 500;
  font-size: 1.05rem;
  font-family: "Questrial", sans-serif;
  color: #3465E1;
}

.nav-item-inactive{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.05rem;
  font-family: "Questrial", sans-serif;
  color: #000;
}

.button-login{
  background-color: #3465E1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.button-logon{
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  border-width: 0.12rem;
  border-color: #000;
}

/* FOOTER */

footer {
  background-color: #262627;
  height: auto;
}

.footer-info {
  color: #d1d1d1;
}

.icons {
  color: #d6d6d6;
}

.ourbook {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}

.sec {
  color: #d1d1d1;
}

.social-media {
  font-weight: 400;
}

.footer-topics {
  font-weight: 600;
}

footer a {
  text-decoration: none;
}

.footer-li {
  font-weight: 300;
}

span {
  color: #e8e8e8;
  font-size: 1.1rem;
  font-weight: 400;
}

.line {
  color: #7c7c7c;
}

.copyright {
  color: #868585;
}
