{% load static %}

<div class="exemplar">
  <a href="{% url 'book_page' id=book.id %}">
    <img src="{{ book.cover.url }}" onerror="imgError(this)" class="exemplar-img">
  </a>
  <div class="exemplar-info">
    <a href="{% url 'book_page' id=book.id %}" class="text-reset">
      <h2 class="exemplar-titulo m-0">{{ book.name }}</h2>
    </a>
    <h3 class="exemplar-autor mt-1">{{ book.author }}</h3>
    {% if book.copy_count != 0 %}
    <h4 class="exemplar-disponibilidade">{{ book.copy_count }}
      {% if book.copy_count > 1 %} exemplares disponíveis {%else %} exemplar disponível {% endif %}
    </h4>
    {% else %}
    <h4 class="exemplar-disponibilidade text-wrap">Nenhum exemplar disponível</h4>
    {% endif %}
  </div>
</div>

<script>
  function imgError(image) {
    image.onerror = "";
    image.src = "{% static 'images/books/placeholder-img.png' %}";

    return true;
  }
</script>