{% extends "base/index.html" %} 
{% load static %} 
{% load icon %}
{% block title %}Meus Empréstimos{% endblock %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/loans/style.css' %}" />
{% endblock %}
{% block content %}

{% include 'components/navbar.html' %}

<main>

    <header>
        <h1 class="header-titulo">Meus empréstimos</h1>
    </header>

    <section class="container-emprestimos">

        <div class="emprestimos-vigentes">

            <h1 class="emprestimos-titulo">Empréstimos vigentes</h1>

            {% for loan in loans %}
            <div class="conteudo-exemplar">

                <div class="container-exemplar">
                    <div class="container-img">
                        <img src="{{ loan.book_copy.book.cover.url }}" class="exemplar-img">
                    </div>
                    <div class="exemplar-atributos">
                        <div class="container-info">
                            <h1 class="titulo-exemplar">{{ loan.book_copy.book.name }}</h1>

                            <table class="table table-borderless tabela-info">
                                <tbody>
                                    <tr>
                                        <td class="span-exemplar">Autor</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.author }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Editora</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.publisher }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Edição</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.edition }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Ano</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.year }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Páginas</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.num_pages }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div>
                            <h2 class="texto-emprestimo mb-1">Emprestado em: {{ loan.borrowed_date|date:"d-m-Y" }}</h2>
                            <h2 class="texto-devolucao" style="color: #1F9C51;">Devolver até: {{ loan.expected_return_date|date:"d-m-Y" }}</h2>
                        </div>
                    </div>

                </div>

                <div class="container-botao">
                    <button class="exemplar-botao" data-bs-toggle="modal" data-bs-target="#modalRenovacao">
                        Solicitar renovação
                    </button>

                </div>

            </div>

        </div>
        {% endfor %}

        <div class="historico-emprestimos">

            <h1 class="emprestimos-titulo">Histórico de empréstimos</h1>

            {% for loan in past_loans %}
            <div class="conteudo-exemplar">

                <div class="container-exemplar">
                    <div class="container-img">
                        <img src="{{ loan.book_copy.book.cover.url }}" class="exemplar-img">
                    </div>
                    <div class="exemplar-atributos">
                        <div class="container-info">
                            <h1 class="titulo-exemplar">{{ loan.book_copy.book.name }}</h1>

                            <table class="table table-borderless tabela-info">
                                <tbody>
                                    <tr>
                                        <td class="span-exemplar">Autor</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.author }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Editora</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.publisher }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Edição</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.edition }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Ano</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.year }}</td>
                                    </tr>

                                    <tr>
                                        <td class="span-exemplar">Páginas</td>
                                        <td class="texto-exemplar">{{ loan.book_copy.book.num_pages }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div>
                            <h2 class="texto-emprestimo mb-1">Emprestado em: {{ loan.borrowed_date|date:"d-m-Y" }}</h2>
                            <h2 class="texto-devolucao" style="font-weight: 400;">Devolvido em: {{ loan.return_date|date:"d-m-Y" }}</h2>
                        </div>
                    </div>

                </div>

            </div>
            {% endfor %}

        </div>


    </section>

</main>

{% endblock %}